---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

*{
  box-sizing:border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.siteHeader {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.siteFooter {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.contentNav{
  border-top: 1px solid #ccc;
}

@media (min-width: 800px) {
  .contentNav{
    float: left;
    width: 25%;
    border-top: none;
    border-right: 1px solid #ccc;
    margin-left: 1px;
    margin-right: -1px;
  }

  .main_content{
    float: right;
    width: 75%;
    padding-left: 10px;
    border-left: 1px solid #ccc;
  }
}