<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" media="screen">

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header class="siteHeader">
      <a href="https://wckansai2016.github.io/wordpress-document/"><img src="{{ site.baseurl }}/images/wpuser.png" alt="WordPress User Document" title="WordPress User Document"></a>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <footer class="siteFooter">
      <a href="https://github.com/wckansai2016/wordpress-document">github</a>
    </footer>

    
  </body>
</html>
