<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" media="screen">

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header class="siteHeader">
      <a href="https://wckansai2016.github.io/wordpress-document/"><img src="{{ site.baseurl }}/images/wpuser.png" alt="WordPress User Document" title="WordPress User Document"></a>
    </header>
    <div class="container cf">
      <section id="main_content" class="main_content">
        {{ content }}
      </section>
      <nav class="contentNav">
        <ol>
          <li><a href="https://wckansai2016.github.io/wordpress-document/1_login/index.html">ログイン</a></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/index.html">投稿</a>
            <ul>
              <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/index-1.html">見出し</a></li>
              <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/index-2.html">画像を添付</a></li>
              <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/3_category.html">カテゴリ追加</a></li>
              <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/4_tag.html">タグの付与</a></li>
              <li><a href="https://wckansai2016.github.io/wordpress-document/2_toukou/5_eyecatch.html">アイキャッチ追加</a></li>
            </ul>
          </li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/3_kotei/index.html">固定ページ</a></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/4_gaikan/index.html">外観</a></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/5_plugin/index.html">プラグイン</a>
            <ul>
              <li><a href="https://wckansai2016.github.io/wordpress-document/5_plugin/index-1.html">プラグイン</a></li>
            </ul></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/6_user/index.html">ユーザ</a></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/7_settei/index.html">設定</a></li>
          <li><a href="https://wckansai2016.github.io/wordpress-document/8_update/index.html">アップデート</a></li>
        </ol>
      </nav>
    </div>
    <footer class="siteFooter">
      <p>Organized by <a href="http://wordcamp-kansai.connpass.com/event/34312/">WordCamp Kansai 2016 documentation Hands-on team</a>. / licensed under <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">the GPLv2</a> or later.</p>
      <p><a href="http://wordcamp-kansai.connpass.com/event/34312/">WordCamp Kansai 2016 ドキュメンテーションハンズオンチーム</a>が運営しています。 / ライセンスは <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GPLv2</a> またはそれ以降に準拠します。</p>
      <a href="https://github.com/wckansai2016/wordpress-document">GitHub で見る</a>
    </footer>

    
  </body>
</html>
