<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" media="screen">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/riot/2.5.0/riot+compiler.min.js'></script>
    <link href="https://s.w.org/wp-includes/css/dashicons.css?20170917" rel="stylesheet" type="text/css" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    <header class="siteHeader">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/wpuser.png" alt="WordPress User Document" title="WordPress User Document"></a>
    </header>
    <div class="container cf">
      <section id="main_content" class="main_content">
        {{ content }}
      </section>
      <nav class="contentNav">
        <ol>
          <li><a href="{{ site.baseurl }}/1_login/"><div class="wp-menu-image dashicons-before dashicons-admin-network"><br></div><div class="wp-menu-name">ログイン</div></a></li>
          <li><a href="{{ site.baseurl }}/2_toukou/"><div class="wp-menu-image dashicons-before dashicons-admin-post"><br></div><div class="wp-menu-name">投稿</div></a>
            <ul>
              <li><a href="{{ site.baseurl }}/2_toukou/index-1.html">見出し</a></li>
              <li><a href="{{ site.baseurl }}/2_toukou/index-2.html">画像を添付</a></li>
              <li><a href="{{ site.baseurl }}/2_toukou/3_category.html">カテゴリー追加</a></li>
              <li><a href="{{ site.baseurl }}/2_toukou/4_tag.html">タグの付与</a></li>
              <li><a href="{{ site.baseurl }}/2_toukou/5_eyecatch.html">アイキャッチ追加</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/3_kotei/"><div class="wp-menu-image dashicons-before dashicons-admin-page"><br></div><div class="wp-menu-name">固定ページ</div></a></li>
          <li><a href="{{ site.baseurl }}/4_gaikan/"><div class="wp-menu-image dashicons-before dashicons-admin-appearance"><br></div><div class="wp-menu-name">外観</div></a></li>
          <li><a href="{{ site.baseurl }}/5_plugin/"><div class="wp-menu-image dashicons-before dashicons-admin-plugins"><br></div><div class="wp-menu-name">プラグイン</div></a>
            <ul>
              <li><a href="{{ site.baseurl }}/5_plugin/index-1.html">プラグインを追加</a></li>
            </ul></li>
          <li><a href="{{ site.baseurl }}/6_user/"><div class="wp-menu-image dashicons-before dashicons-admin-users"><br></div><div class="wp-menu-name">ユーザー</div></a></li>
          <li><a href="{{ site.baseurl }}/7_settei/"><div class="wp-menu-image dashicons-before dashicons-admin-settings"><br></div><div class="wp-menu-name">設定について</div></a></li>
          <li><a href="{{ site.baseurl }}/8_update/"><div class="wp-menu-image dashicons-before dashicons-update"><br></div><div class="wp-menu-name">アップデート</div></a></li>
        </ol>
      </nav>
    </div>
    <footer class="siteFooter">
      <div class="contributors" riot-tag="contributors"></div>
      <p>Organized by <a href="http://wordcamp-kansai.connpass.com/event/34312/">WordCamp Kansai 2016 documentation Hands-on team</a>. / licensed under <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">the GPLv2</a> or later.</p>
      <p><a href="http://wordcamp-kansai.connpass.com/event/34312/">WordCamp Kansai 2016 ドキュメンテーションハンズオンチーム</a>が運営しています。 / ライセンスは <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GPLv2</a> またはそれ以降に準拠します。</p>
      <a href="https://github.com/{{ site.github.id }}/{{ site.github.repo }}">GitHub で見る</a>
    </footer>

    <script type="riot/tag" src="{{ site.baseurl }}/assets/js/contributors.tag"></script>
    <script>
      riot.mount('contributors');
    </script>
  </body>
</html>
